__pycache__/
*.pyc
.pytest_cache/
.coverage
*.part
*.egg-info/
build/
dist/
data/raw/
data/processed/**/*.expr.tsv
data/processed/**/*expression*.tsv
data/external/*
!data/README.md
!data/interim/README.md
!data/external/README.md
results/**/processed_inputs/
results/**/*.expr.tsv
figures/**/*.tiff
deliverables/*.zip
results/tmp/
tmp/
github_release/
.snakemake/
